<div class="container mtp">
  <div class="contains">
    <p class="fw-bold text-capitalize" >Name: {{ name }}</p>
    <p class="fw-bold ">USN: {{ usn }}</p>
    <p class="fw-bold">DOB: {{ dob }}</p>
    <p class="fw-bold text-capitalize">Department: {{ dept }}</p>
  </div>

  <h3 class="text-center mt-5 mb-3">Attendance in Courses</h3>

  <div class="chrt">

    <div class="chbd">
      <h5 class="text-center"> {{coures[0]}}</h5>
      <canvas id="myChart1"></canvas>
    </div>

    <div class="chbd">
      <h5 class="text-center"> {{coures[1]}}</h5>
      <canvas id="myChart2"></canvas>
    </div>

    <div class="chbd">
      <h5 class="text-center"> {{coures[2]}}</h5>
      <canvas id="myChart3"></canvas>
    </div>

    <div class="chbd">
      <h5 class="text-center"> {{coures[3]}}</h5>
      <canvas id="myChart4"></canvas>
    </div>

    <div class="chbd">
      <h5 class="text-center"> {{coures[4]}}</h5>
      <canvas id="myChart5"></canvas>
    </div>

  </div>
  
</div>


